.bg-img{
    background-image: url("../images/bgimg.jpg");
    height: 100vh;
    /* width: 100vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#box{
    box-sizing: border-box;
    position: absolute;
    right: 80px;
    margin: 30px;
    max-width: 400px;
    padding: 15px;
    background-color: #00778b;
}